NODE_ENV=development
DB_HOST=0.0.0.0
DB_NAME=lamont_db
DB_PORT=5438
DB_PASSWORD=lamont_password@
DB_USER=postgres
BASE_URL_IMAGE=http://vantaiphyphy.com/api
PRODUCT_IMG_PATH=uploads/productImages
IMAGE_LOCAL_PATH=uploads
IMAGE_PUBLIC_URL=/uploads